<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body
      { 
        background-color: aqua;
      }
    </style>
</head>
<body>
  <h1>if CONDITION STATEMENTS</h1>
  <!-- <h1>if else condition</h1>
    {%if a > b %}
      <h1>a is max</h1>
    {%else%}
      <h1>b is max</h1>   
    {%endif%}    
  -->
 <!--  <h1>nested if statement</h1>  
      {%if a > b %}
        {%if a > c %}
          <h2>A is greater than EVERYONE</h2>
        {%else%}  
          <h2>C is greater than EVERYONE</h2>
        {%endif%}  
      {%else%}
        {%if b > c %} 
          <h2>B is greater than EVERYONE</h2>
        {%else%}
          <h2>C is greater than EVERYONE</h2>
          {%endif%}
      {%endif%}
 -->  
 <!--<h1>if-elif condition</h1>  
    {%if a > b %}
      <h2>A is greater than EVERYONE</h2>
    {%elif b > a %}
      <h2>B is greater than EVERYONE </h2>
    {%else%}
       <h2>A and B are EQUAL</h2>
    {%endif%}     
 -->
      <h2>if condition</h2>
          {%if a > b %}
              <h3>A is greater than EVERYONE</h3>
          {%endif%}    